
body{
    font-family: 'Roboto', Courier, monospace; 
}
nav{
    display: flex;
    background-color:#1f2937;
    color: white;
    /*border: solid;]*/
}

nav ul{
    list-style: none;
    gap: 30px;
    display: flex;
    padding: 10px;
    flex: 1;
}

.push-right{
    margin-left: auto;
}

.logo{
    font-weight: 1000;
    font-size: 15px;
    
}

.li{
    font-family: 'Roboto', Courier, monospace;
}

/*Description*/

.description-container{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: solid yellow;*/
}

.description {
    display: flex;
    gap: 100px;
    font-family: 'Roboto', Courier, monospace;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    /*border: solid yellow;*/
    width: 1000px;
}

.content{
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    /*border: solid;*/
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
}

.hero-second{
    font-size: 18px;
    font-family: Roboto;
}

.main-image{
    margin: 20px;
}

img{
    border-radius: 15px;
}

.push-me{
    background-color:rgb(19, 86, 230);
    color: white;
    padding: 4px 10px;
    border-radius: 7px;
    margin: 15px 0;
}

.pictures-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}

.images-title{
    /*border: solid;*/
    margin-bottom: 30px;
    font-size: 23px;
}


.pictures{
    display: flex;
    gap: 80px;
    /*border: solid;*/
}

p {
    text-align: center;
}

.frase-container{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid;*/
    padding: 100px;
    gap: 20px;
}

.frase{
    width: 900px;
    /*border: solid;*/
}

.autor{
    font-weight: 900;
    /*border: solid;*/
    width: 900px;
    text-align: right;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-rectangle{
    background-color: #3882f6;
    width: 900px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}



.blue-left{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    color: white;
}

.blue-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items:center;
    /*border: solid;*/
    flex: 1;
}

.register-button{
    border-radius: 5px;
    border-color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3882f6;
    color: white;
}

.footer-container{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}